apiVersion: apps/v1
kind: Deployment
metadata:
  name: sparql-ui-deployment
spec:
  replicas: ${MIN_REPLICAS}
  template:
    spec:
      containers:
        - name: sparql-ui
          imagePullPolicy: Always
          resources:
            requests:
              memory: "${MEMORY_REQUEST}M"
              cpu: "${CPU_REQUEST}m"
            limits:
              memory: "${MEMORY_LIMIT}M"
              cpu: "${CPU_LIMIT}m"
